@charset "UTF-8";
/* Зкиданния */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

button {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
  display: block;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

svg {
  display: block;
  fill: currentColor;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

blockquote {
  margin: 0;
}

cite {
  display: block;
  font-style: normal;
}

label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

fieldset {
  padding: 0;
  border: none;
}

textarea {
  padding: 0;
  margin: 0;
  border: none;
}

body {
  font-family: "Open Sans";
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1960px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  scroll-margin-top: 72px;
}

.hero {
  height: 820px;
  padding-top: 22px;
  padding-bottom: 40px;
  background-image: url("../img/bg-hero-mob.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: url("../img/bg-hero-desk.jpeg");
    height: 1080px;
  }
}
.hero__img {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.25;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__circle--left {
  margin-bottom: 40px;
  border-radius: 50%;
  width: 110px;
  height: 110px;
  background-color: #b5d8d6;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2857142857;
}
.hero__title {
  margin-bottom: 25px;
  font-weight: 300;
  font-size: 64px;
  line-height: 1;
  font-family: "Cormorant Garamond";
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 300;
    font-size: 140px;
    line-height: 1;
  }
}
.hero__title--special {
  font-style: italic;
  font-weight: 300;
  font-size: 64px;
  line-height: 1;
  text-transform: lowercase;
}
.hero__text {
  margin-bottom: 39px;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.4;
  color: #ffffff;
  text-align: center;
}
.hero__btn {
  display: inline-block;
  margin-left: 40px;
  margin-right: 110px;
}
.hero__circle--right {
  border-radius: 50%;
  width: 140px;
  height: 140px;
  background-color: #f0bb82;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2857142857;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: align-items;
  margin-bottom: 30px;
}

.offer {
  background-color: #37473a;
}
.offer__title-first {
  font-weight: 400;
  font-size: 45px;
  line-height: 1;
  font-family: "Cormorant Garamond";
  color: #ebebeb;
}
.offer__title-second {
  font-weight: 300;
  font-size: 60px;
  line-height: 1;
  font-style: italic;
  font-family: "Cormorant Garamond";
  color: #a6857e;
  text-align: end;
  margin-bottom: 20px;
}
.offer__line {
  width: 100%;
  height: 1px;
  background-color: #ebebeb;
  opacity: 0.1;
  margin-bottom: 30px;
}
.offer__text-primary {
  font-weight: 400;
  font-size: 19px;
  line-height: 1.4210526316;
  color: #ebebeb;
  margin-bottom: 30px;
}
.offer__img {
  position: relative;
  left: 25px;
  margin-bottom: 30px;
}/*# sourceMappingURL=main.css.map */