
body {
  font-family: 'Open Sans';
}

.container {
  @media screen and (min-width: $desktop) {
    max-width: 1960px;
  }

  margin-left: auto;
  margin-right: auto;

  padding-left: 25px;
  padding-right: 25px;

  @media screen and (min-width: $desktop) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

// секції

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  scroll-margin-top: 72px;
}