@mixin flex($jc, $ai) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}

@mixin font($fw, $fs, $lh) {
  font-weight: $fw;
  font-size: $fs;
  line-height: calc($lh / $fs);
}


%button {
  padding: 10px 10px;
  background-color: #fff;
  border: 1px solid green;
  border-radius: 5px;
  color: inherit;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5384;
  transition: border-color cubic-bezier(0.075, 0.82, 0.165, 1);
  &:hover,
  &:focus {
    border-color: grey;
  }
}
