

$white: #ffffff;
$grey-bg: #ebebeb;
$grey-dark-bg: #363a45;
$grey-simple: #656c7e;
$green-add: #37473a;
$green-primary: #3e4c3d;
$green-second: #738471;
$text1: #a6857e;
$text2: #d7ae9c;
$grey-add: #3b3633;
$text3: #f0bb82;
$light-blue: #b5d8d6;